/*CSS von nico tutorium 20.jaenner*/
body{background-color: darksalmon;}


.product{background-color: indianred;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-bottom: 10px ;
padding-top:  5px;
}
/*hier endet der CSS Code von Nico Tutorium*/



.navbar-title{
    margin-left: 10px;
}

.navbar-img {
    
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 3px;
    margin-top: 2px;
    
}
.navbar-button{
    margin-right: 10px;
    margin-bottom: 3px;
    margin-top: 2px;
}


.navbar-margin{
    margin-left: 5%;
    
}
button {
    color: red;
  }

.rotate-45 {
    transform: rotate(-7deg);
}

