
/*setzt alles mittig*/
.wrapper-header {   
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.inner-element-header {
    display: inline-block;
    text-align: left;
}




.Logo {
    margin-top: 14px;
    margin-bottom: 50px;
    margin-left: 13px;
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 100;
    border: 1px solid black;
   
}

.Karte {
    position: relative;
    display: flex;
    padding: 10px;
    height: 100px;
    width: auto;
    padding-left:110px;
    background-color: green;
    border: 5px solid black;
    flex-wrap: wrap;
}

.Karte a{
    margin-left: 10px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 12.5rem;
    height: 45px;
    background-color: darkgreen;
    border: 1px solid black;
    font-size: 20px;
    font-style: italic;
}

.frogTree {
    position: absolute;
    top: calc(65% - 100px);
    left: calc(100% - 70px);
    height: 200px;
    transform: scaleX(-1);
}


.box:hover {
    background-color: grey;
}



h1 {
    display: flex;
    padding: 0px;
    height: 50px;
    width: auto;
    margin-top: 2px;
    background-color: green;
    border: 5px solid black;

    justify-content: center;
    align-items: center;
}
