name: Build and test Artifact

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
    - uses: actions/checkout@v3  
    - name: Set up JDK 19
      uses: actions/setup-java@v3
      with:
        java-version: '19'
        distribution: 'temurin'
        cache: maven
    - run: pwd & ls -al

        
    - run: mvn -B package --file BackEnd/pom.xml

    - run: mkdir download & cp BackEnd/target/*jar download

    - name: Upload build artifact
      uses: actions/upload-artifact@v3.1.2
      with:
        path: download

